<div class="formcss">
    <form [formGroup]="edituserForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="user-card">
        <mat-card-header>
          <mat-card-title>Edit user</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="full-width">
                <input matInput #input class="form-control" placeholder="id" formControlName="id" [(ngModel)]="data.id">
          </mat-form-field>
          <mat-form-field class="full-width">
                <input matInput #input class="form-control" placeholder="name" formControlName="name" [(ngModel)]="data.name">
          </mat-form-field>
          <mat-form-field class="full-width">
                <input matInput #input class="form-control" placeholder="job" formControlName="job" [(ngModel)]="data.job">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" (click)="updateData()" [mat-dialog-close]="1">Submit</button>
        </mat-card-actions>
      </mat-card>
    </form>
    </div>