<div class="formcss">
<mat-card class="user-card">
    <mat-card-header>
      <mat-card-title>Delete user</mat-card-title>
    </mat-card-header>
    <mat-card-content class="full-width">
        <h4>Are you sure?</h4>
        Id: {{data.id}}<br>
        name: {{data.name}}<br>
        job: {{data.job}}
    </mat-card-content>
    <mat-card-actions class="button-row">
        <button mat-raised-button color="warn" (click)="deleteData(data.id)" [mat-dialog-close]="1">Delete</button>
        <button mat-raised-button [mat-dialog-close]="1">Cancel</button>
    </mat-card-actions>
</mat-card></div>