<div class="container">
  <h1>Add User</h1>
  <form #postForm="ngForm" (submit)="addData(postForm)">
    <input type="text" name="id" placeholder="Enter ID" [(ngModel)]="id" />
    <input
      type="text"
      name="name"
      placeholder="Enter name"
      [(ngModel)]="name"
    />
    <input type="submit" value="Add data" />
  </form>
</div>
<div class="container">
  <h2>User Table</h2>
  <table>
    <thead>
      <td>ID</td>
      <td>Name</td>
      <td>Delete</td>
      <td>Edit</td>
    </thead>
    <tbody *ngFor="let item of service.items">
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td (click)="deleteData(item.id)"><i class="bx bxs-trash-alt"></i></td>
        <td (click)="updateData(item)"><i class="bx bxs-edit-alt"></i></td>
      </tr>
      <!-- </div> -->
    </tbody>
  </table>
</div>
